  <h2 class="text-3xl font-semibold mb-8 text-center">Featured Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {% for project in featuredProjects %}
  <div class="max-w-6xl mx-auto px-4 py-10">
    
      
      <div class="project-card justify-center">
        <img src="{{project.image}}" alt="{{project.title}}" class="w-full mb-4">
        <h3 class="text-xl font-semibold mb-4">{{project.title}}</h3>
        <p class="text-slate-100 mb-4">{{project.description}}</p>
        <a href="{{project.url}}" class="mb-4 px-4 py-2 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700 max-w-20">View Project</a>
      </div>
    </div>
    {% endfor %}
  </div>
