<div
    class="md:grid md:grid-cols-2 justify-between overflow-hidden pt-0 items-center flex flex-wrap px-4 ml-20 lg:pt-16 lg:flex-wrap md:px-8 bg-transparent mb-20"
>
    <div class="mb-16 pt-10 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">
            <div>
                <p
                    class="inline-block px-3 mb-4 text-xl font-thin tracking-wider border border-[#01b6fe] py-1 rounded-full text-[#01b6fe] uppercase bg-transparent"
                >
                    Welcome to Tar Heel Dev Studio
                </p>
            </div>
            <h1
                class="max-w-lg mb-6 text-3xl font-bold tracking-tight text-white sm:text-4xl sm:leading-none"
            >
                Freelance Digital Solutions Studio<br class="hidden md:block"/>
                <span class="inline-block text-deep-purple-accent-400"
                    >- by Andrew Weisbeck</span
                >
            </h1>
            <p class="text-sm text-gray-300 md:text-lg">
                We are a dynamic and innovative freelance web development studio, dedicated to transforming your digital dreams into reality. Whether you're looking to boost your online presence, develop a captivating mobile app, enhance your brand strategy, or create stunning graphic designs, we've got you covered.
            </p>
            <br />
            <p class="text-sm text-gray-300 md:text-lg">
                At Tar Heel Dev Studio, we pride ourselves on our commitment to excellence and customer satisfaction. We believe in building strong and long-lasting partnerships with our clients, and we strive to exceed their expectations at every step. With our seamless collaboration, attention to detail, and dedication to delivering outstanding results, we ensure that your digital projects are not only successful but also enjoyable.


            </p>
            <br />
            <p class="text-xl text-blue-300 md:text-lg">
                Ready to take your business to the next level? Contact us today, and let's embark on a journey of digital transformation together. Welcome to Tar Heel Dev Studio, where creativity meets technology to bring your visions to life. 
            </p>
        </div>
        <div class="flex items-center">
            <a
                href="/contact"
                target="_blank"
                class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded-lg shadow-md bg-[#34C5FE] hover:shadow-purple-500 hover:shadow-xl hover:bg-[#00f6ff] focus:shadow-outline focus:outline-none"
            >
                Free Consultation
            </a>
            <a
                href="/blog"
                aria-label="explore"
                class="inline-flex items-center font-semibold transition ease-in-out text-gray-100 duration-200 hover:text-[#01b6fe]"
                >Read Our Blog</a
            >
        </div>
    </div>
    <div class="w-full mt-5 flex justify-center  items-center md:justify-right md:items-right ">
        <img
            src="assets/tarheeldeveloperslogo.png"
            class="md:h-full md:w-auto h-1/5 w-2/5 animate-[bounce_6s_ease-in-out_infinite]"
            alt="landing image"
/>
    </div>
</div>

{# Our Servies Section #}
    <div class="flex justify-center">
        <h2 class="text-3xl font-semibold text-white place-self-center">Our Services</h2>
    </div>
{{ components.home.serviceCards() | safe }}

{# Testimonials Section #}
{{ components.home.testimonials() | safe }}

{# Featured Articles Section #}
    <div class="flex justify-center">
        <h2 class="text-3xl font-semibold text-white place-self-center mt-20">Featured Articles From Our Blog</h2>
    </div>
{% block content %}
    {{ components.home.featuredArticles() | safe }}
{% endblock %}


{# Why Us Section #}
<section class="why-work-with-us-section">
  <div class="max-w-6xl mx-auto px-4 py-10">
    <h2 class="text-3xl font-semibold mb-8 text-center">You may want to work with us if...</h2>
    <ul class="list-disc pl-6">
      <li>You want to be a part of the design and development process</li>
      <li>Your brand is in need of a fresh redesign</li>
      <li>Your content is lacking and your SEO ranking is showing that</li>
      <li>You want to connect and engage your loyal fans</li>
      <li>You appreciate awesome support with a team that is always available</li>
      <li>You are competitive and get up to win every day</li>
    </ul>
  </div>
</section>

{# Featured Projects #}
{{ components.home.featuredProjects() | safe }}




