<section class="featured-section flex justify-around flex-wrap py-20">
  <div class="w-80 p-6 mb-6 bg-gray-600 rounded-lg shadow-md text-center">
      <img src="/assets/webdevelopmenticon.png" alt="Web Development" class="card-icon mb-3">
      <h3 class="text-xl">Web Development</h>
      <p class="text-gray-100">Build stunning and functional websites tailored to your business needs.</p>
  </div>
  <div class="w-80 p-6 mb-6 bg-gray-600 rounded-lg shadow-md text-center">
      <img src="/assets/graphicdesignicon.png" alt="Graphic Design" class="card-icon mb-3">
      <h3 class="text-xl mb-2">Graphic Design</h3>
      <p class=" text-gray-100">Create visually striking designs that captivate and inspire your audience.</p>
  </div>
  <div class="w-80 p-6 mb-6 bg-gray-600 rounded-lg shadow-md text-center">
      <img src="/assets/contentcreationicon.png" alt="Content Creation" class="card-icon mb-3">
      <h3 class="text-xl m2">Content Creation</h3>
      <p class="text-gray-100">Deliver compelling and engaging content that drives traffic and conversions.</p>
  </div>
  <div class="w-80 p-6 mb-6 bg-gray-600 rounded-lg shadow-md text-center">
      <img src="/assets/marketingicon.png" alt="Marketing Icon" class="card-icon mb-3">
      <h3 class="text-xl mb-2">Digital Marketing</h3>
      <p class="text-gray-100">Maximize your online presence with targeted strategies and measurable results.</p>
  </div>
</section>