<section class="testimonials-section">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-3xl font-semibold mb-20 text-center">Client Testimonials</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-20">
      <div class="testimonial">
        <img src="/assets/lisaheusner.png" alt="Client 1" class="rounded-full w-64 h-64 mx-auto mb-4">
        <h3 class="text-xl font-semibold mb-2">Lisa Heusner, Owner of AirBnB It Out Cleaners</h3>
        <p class="text-gray-600">"Obviously I'm biased, but I'm also probably one of the harshest critics of the work that these guys do. They knock it out of the park! Andrew helped me start my very first online business and it took off instantly. Don't miss a great opportunity to get the Tar Heel Dev Studio to help you with your online businesss!"</p>
      </div>
      <div class="testimonial">
        <img src="/assets/whiperbautum.png" alt="Client 2" class="rounded-full w-64 h-64 mx-auto mb-4">
        <h3 class="text-xl font-semibold mb-2">Johnathon Whiperbodaum, North Ridge Plumbing</h3>
        <p class="text-gray-600">"You can tell they truly love what they do by their enthusiasm. Taking over my family's business of 40 years was scary, but they made the transition smooth by keeping me busy with new clients. The Lead Machine solution is highly recommended - I'll be busy the rest of my life!"</p>
      </div>
      <div class="testimonial">
        <img src="/assets/tailwinddevdude.png" alt="Client 3" class="rounded-full w-64 h-64 mx-auto mb-4">
        <h3 class="text-xl font-semibold mb-2">Tailwind Devdude, Tailwind University</h3>
        <p class="text-gray-600">"Yoooo, Tar Heel Dev Studio rocks! I worked with these cats in a hackathon and they can really rip some code out tha browser and write it right into your skull. Man thats so sick. Seriously, the way that they can just think through a whole project and design it from scratch the way they do, is mind boggling really."</p>
      </div>
    </div>
  </div>
</section>
