---
title: "Resources Page"
---

<section class="p-5 text-white">
    <h1 class="mdTitle text-3xl text-[#01b6fe] mb-3 font-semibold tracking-wider">Resources</h1>
    <blockquote class="text-gray-300 border-l border-gray-400 px-2 py-0.5 my-1 text-md md:text-1xl ">
     This page will have all our resources listed here - unfortunately, it is still being worked on, but we hope to have this live soon!
    </blockquote>
</section>