<div class="border shadow bg-sky-600/10 m-1 font-semibold  tracking-widest border-[#01b6fe] mt-auto py-4 bg-[#131b1e] rounded-md  p-1  text-center">
<div>
    <p> Created by <a href="https://geauxweisbeck4.dev">GeauxWeisbeck4</a> 2023. All Rights Reserved.</p>
</div>
    <div>
        <!-- (c) 2005, 2023. Authorize.Net is a registered trademark of CyberSource Corporation -->
        <div class="AuthorizeNetSeal"> 
            <script type="text/javascript" language="javascript">var ANS_customer_id="99b7bbea-e469-473c-b285-4f622df0112f";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net:443/anetseal/seal.js" ></script> 
        </div>
    </div>
</div>